@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 overflow-x-hidden;
}

html {
  overflow-x: hidden;
}